page-onboarding {
  .profile--selector {
    height: 66.6%;
    .profiles {
      background: blue;
      text-align: left;
      font-size: 20px;
      color: #fff;
    }
   ion-row {
      height: 25%;
    }
    .profiles--sparfuchs {
      background: color($colors, sparfuchs);
    }
    .profiles--gesudnheit {
      background: color($colors, gesudnheit);
    }
    .profiles--umwelt {
      background: color($colors, umwelt);
    }
    .profiles--lokal {
      background: color($colors, lokal);
    }
  }
  .outside {
    height:16.6%;
  }
  .outside, .profiles-img, .profiles {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
