page-onboarding {
  .profile--selector {
    .profiles {
      width: 50%;
      float: left;
      height: 100px;
      background: blue;
      text-align: left;
      font-size: 20px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .profiles--sparfuchs {
      background: color($colors, sparfuchs);
    }
    .profiles--gesudnheit {
      background: color($colors, gesudnheit);
    }
    .profiles--umwelt {
      background: color($colors, umwelt);
    }
    .profiles--lokal {
      background: color($colors, lokal);
    }
  }
}
