page-cart {
  .item-md {
    display: flex;
    flex-flow: row nowrap;

    ion-avatar {
      &[item-left] {
        margin: 0;
      }

      .ion-avatar {
        flex: 0 1 60px;
      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 0;
      }
    }

    &.item-block {
      .item-inner {
        flex: 1 1 auto;
        padding: 8px 16px;
      }
    }

    h3 {
      margin-left: auto;
      margin-bottom: 8px;
    }
  }

  ion-label {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
  }

  // footer
  .c-footer {

    &__col {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &:last-child {
        justify-content: flex-end;
      }
    }

    &__count {
      font-family: "Montserrat Bold";
    }
  }

  .c-button-checkout {
    position: relative;

    .button-inner {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    &__icon {
      padding-right: 8px;
    }

    &__icon-span {
      font-family: "Montserrat Bold";
    }

  }
}
