page-home {

  ion-card-header{
    background: color($colors, primary);
  }

  h1, h2{
    color: white!important;
  }
  .header-img {
    display: flex;
    justify-content: center;
    img {
      height: 250px;
    }
  }
}
