<!--
  Generated template for the Camera page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content id="live-view">
    <ion-slides *ngIf="lastId > 0 && item">
      <ion-slide *ngFor="let item of similars">
        <ion-card tappable (click)="openDetail()">
          <img src="{{ item.image }}"/>
            <div class="swiper-content">
              <div class="card-title">{{ item.title }}</div>
              <div class="card-subtitle">{{ item.price }}</div>
            </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer>
  <ion-card *ngIf="lastId > 0 && item">
      <div class="card-last">
      <div class="card-last__img" (click)="openDetail()">
        <img src="{{ item.image }}">
      </div>
          </div>
    <ion-card-content>
      <p>{{item.title}}<br>
          <b>{{item.price}}</b>
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button (click)="openDetail()" ion-button icon-left clear small>
          <ion-icon name="log-in"></ion-icon>
          <div>Details</div>
        </button>
      </ion-col>
      <ion-col>
        <button (click)="resetCamera()" ion-button icon-left clear small>
          <ion-icon name="close"></ion-icon>
          <div>Abbrechen</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear (click)="addProduct(item)" ion-button icon-left clear small>
          <ion-icon name='md-add'></ion-icon>
          <div>Kaufen</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-toolbar class="my-toolbar" color="black-lighten">
    <ion-row>
      <ion-col width-50 center text-left>
        <button ion-button color="dark" clear (click)="openOnboarding()">
          <ion-icon name='md-person'></ion-icon>
        </button>
      </ion-col>
      <ion-col width-50 center text-right>
        <button ion-button color="dark" clear (click)="openCart()">
          <ion-icon name='md-cart'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
