page-success {
h1{
  font-size: 2.4rem;
  text-align: center;
  color: color($colors, white);
  b{
    font-weight: 600;
  }

}
.coin{
  width:80%;
  height:auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
.div_coin{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.sparfuchs {
  background: color($colors, sparfuchs);
  padding: 16px;
  height:100%;
}
.lokal {
  background: color($colors, lokal);
  padding: 16px;
  height:100%;
}
.health {
  background: color($colors, gesudnheit);
  padding: 16px;
  height:100%;
}
.umwelt {
  background: color($colors, umwelt);
  padding: 16px;
  height:100%;
}


.footerumwelt {
  background: color($colors, umwelt);
  padding: 16px;
  width:100%;
  .bar-buttons-md[end] {
    text-align: center;
  }
}
.footerhealth {
  background: color($colors, gesudnheit);
  padding: 16px;
  width:100%;
  .bar-buttons-md[end] {
    text-align: center;
  }
}
.footerlokal {
  background: color($colors, lokal);
  padding: 16px;
  width:100%;
  .bar-buttons-md[end] {
    text-align: center;
  }
}
.footersparfuchs {
  background: color($colors, sparfuchs);
  padding: 16px;
  width:100%;
  .bar-buttons-md[end] {
    text-align: center;
  }
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0 auto;
}

  @keyframes myanim {
  from { top: 0; }
  to   { top: 768px; }
  }

  .drop {
  position: fixed;
  }

  .layer2 {
   width: 60px;
  height: 60px;
  background-image:url('https://vignette4.wikia.nocookie.net/mariokart/images/1/17/CoinMK8.png');
  background-size:contain;
  background-repeat:no-repeat;
  animation: myanim 2s infinite linear;
  }

  .layer3 {
  width: 60px;
  height: 60px;
    background-image:url('https://vignette4.wikia.nocookie.net/mariokart/images/1/17/CoinMK8.png');
  background-size:contain;
  background-repeat:no-repeat;
  animation: myanim 3s infinite linear;
  }

}
