page-success {
h1{
  font-size: 2.4rem;
  text-align: center;
  color: color($colors, white);
  b{
    font-weight: 600;
  }

}
.coin{
  width:80%;
  height:auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
.div_coin{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
  .content {
    background: color($colors, sparfuchs);
  }

  @keyframes myanim {
  from { top: 0; }
  to   { top: 768px; }
  }

  .drop {
  position: fixed;
  }

  .layer2 {
   width: 60px;
  height: 60px;
  background-image:url('https://vignette4.wikia.nocookie.net/mariokart/images/1/17/CoinMK8.png');
  background-size:contain;
  background-repeat:no-repeat;
  animation: myanim 2s infinite linear;
  }

  .layer3 {
  width: 60px;
  height: 60px;
    background-image:url('https://vignette4.wikia.nocookie.net/mariokart/images/1/17/CoinMK8.png');
  background-size:contain;
  background-repeat:no-repeat;
  animation: myanim 3s infinite linear;
  }

}
